.controlBox {
  position: fixed;
  width: 320px;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  padding: 0 10px 62px 10px;
}

.boxTitle {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
}

.summary {
  font-size: 12px;
  position: relative;
}

.boxItem {
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 10px 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.1);
}
